
<table class="table table-inverse table-striped table-bordered">
	<caption>route name: {{link-to routeName routeName}}</caption>
	<thead>
	<tr>
		<th>depth</th>
		<th>is leaf node</th>
		<th>node name</th>
		<th>parent node name</th>
		<th>parent route name</th>
		<th>child count</th>
    <th>child route names</th>
		<th>sibling count</th>
		<th>sibling route names</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{node.depth}}</td>
		<td>{{node.isLeafNode}}</td>
		<td>{{nodeName}}</td>
		<td>{{if node.parent.nodeName node.parent.nodeName "n/a"}}</td>
		<td>{{if node.parent.routeName node.parent.routeName "n/a"}}</td>
		<td>{{node.children.length}}</td>
    <td>
      {{#if node.children.length}}
	      <ul>
            {{#each node.children as |child|}}
			    <li>{{#link-to child.routeName}}{{child.routeName}}{{/link-to}}</li>
            {{/each}}
	      </ul>
      {{else}}
	      n/a
      {{/if}}
    </td>
		<td>{{siblingNodes.length}}</td>
		<td>
      {{#if siblingNodes.length}}
			  <ul>
          {{#each siblingNodes as |siblingNode|}}
					<li>{{#link-to siblingNode.routeName}}{{siblingNode.routeName}}{{/link-to}}</li>
          {{/each}}
			  </ul>
      {{else}}
			  n/a
      {{/if}}
		</td>
	</tr>
	</tbody>
</table>