<table class="table table-inverse table-striped table-bordered table-sm">
	<thead>
	<tr>
		<th>Route Name</th>
		<th>Path Segment</th>
		<th>Is Leaf</th>
		<th>Parent Path</th>
		<th>Child Count</th>
		<th>Sibling Count</th>
		<th>Child Paths</th>
		<th>Sibling Paths</th>
	</tr>
	</thead>
	<tbody>
    {{#each routes as |data|}}
		<tr>
			<td>{{#link-to data.routeName}}{{data.routeName}}{{/link-to}}</td>
			<td>{{data.pathSegment}}</td>
			<td>
              {{data.isLeaf}}
			</td>
			<td>{{data.parentPath}}</td>
			<td>{{data.childCount}}</td>
			<td>{{data.siblingCount}}</td>
			<td>
				<ul>
          {{#each data.children as |node|}}
					  <li>
              {{#link-to node.routeName}}{{node.routeName}}{{/link-to}}
					  </li>
          {{/each}}
				</ul>
			</td>
			<td>
				<ul>
          {{#each data.siblingPaths as |path|}}
					  <li>{{#link-to path}} {{path}}{{/link-to}}</li>
          {{/each}}
				</ul>
			</td>
		</tr>
    {{/each}}
	</tbody>
</table>
