{{!--graph-node node=pathInspectorService.routeMapTree--}}

{{!--<table class="table table-inverse table-striped table-bordered table-sm">
	<thead>
	<tr>
		<th>Route Name</th>
		<th>Node Name</th>
		<th>Is Leaf</th>
		<th>Parent Route Name</th>
		<th>Child Count</th>
		<th>Sibling Count</th>
		<th>Child Paths</th>
		<th>Sibling Paths</th>
	</tr>
	</thead>
	<tbody>
    {{#each routes as |data|}}
		<tr>
			<td>{{#link-to data.routeName}}{{data.routeName}}{{/link-to}}</td>
			<td>{{data.nodeName}}</td>
			<td>
              {{data.isLeaf}}
			</td>
			<td>
          {{#if data.parentRouteName}}
            {{#link-to data.parentRouteName}}
              {{data.parentRouteName}}
            {{/link-to}}
          {{else}}
              n/a
          {{/if}}
      </td>
			<td>{{data.childCount}}</td>
			<td>{{data.siblingCount}}</td>
			<td>
				<ul>
          {{#each data.children as |node|}}
					  <li>
              {{#link-to node.routeName}}{{node.routeName}}{{/link-to}}
					  </li>
          {{/each}}
				</ul>
			</td>
			<td>
				<ul>
          {{#each data.siblings as |sibling|}}
					  <li>{{#link-to sibling.routeName}}{{sibling.routeName}}{{/link-to}}</li>
          {{/each}}
				</ul>
			</td>
		</tr>
    {{/each}}
	</tbody>
</table>--}}
