<section>
	<div>parent route name: {{node.parent.routeName}}</div>
	<div>parent node name: {{node.parent.nodeName}}</div>
	<div>route name: {{routeName}}</div>
	<div>node name: {{nodeName}}</div>
	<div>child count: {{node.children.length}}</div>
	<div>sibling count: {{siblingNodes.length}}</div>
	<div>
		sibling route names:
		{{#each siblingNodes as |siblingNode|}}
			{{#link-to siblingNode.routeName tagName="button"}}
				{{siblingNode.nodeName}}
			{{/link-to}} &nbsp;
		{{/each}}
	</div>

	{{outlet}}
</section>
